/* Header */

#title {
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 40px;
    padding: 30px 30px;
    background-color: rgb(47, 95, 107);
    color: #ffffff;
}

/* /Header */

/* Main */

#kelvin-calculator-area {
    margin-top: 30px;
}

/* /Main */

/* Form */

#kelvin-input, #name-input {
    text-align: center;
    padding: 10px 40px;
}

#first_name, #question {
    font-family: 'Lato', sans-serif;
}

#kelvin-input button, #name-input button {
    font-family: 'Lato', sans-serif;
}

button {
    background-color: rgb(47, 95, 107);
    border: none;
    color: #ffffff;
    padding: 3px 6px 3px 6px;
    border-radius: 3px;
    margin-left: 4px;
}

#result1, #result2 {
    width:280px;
    height:70px;
    margin: auto;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top: 20px;
}

/* /Form */




